.about {
    display: flex;
    align-items: center;
    gap: 20px;

    min-height: 100vh;

    position: relative;
    overflow: hidden;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url('../assets/services.png') center center /cover no-repeat;

    z-index: -1;
}

.slogan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-shadow: 1px 2px 10px #000000;
}

.slogan p {
    color: #b54efa;
    /* font-size: 1em; */
    text-transform: uppercase;
    font-weight: 600;
}

.slogan h1 {
    font-size: 2.5rem; 
}

.slogan span {
    color: #8B5CF6;
}

.slogan h2 {
    font-weight: 400;
    font-size: 1.2em;
}

.slogan button {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;

    width: 250px;
    padding: 15px;

    background: transparent;
    border: 1px solid #A855F7;
    border-radius: 10px;
    box-shadow: 0 0 5px #a955f78a;

    font-size: .9em;
    
    transition: .3s;
    cursor: pointer;
}

.slogan button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px #8b5cf666;
}

.slogan button svg {
    fill: #A855F7;
}

.logo {
    display: none;
}

@media (min-width: 900px) {
    .about {
        flex-direction: row-reverse;
        /* justify-content: center; */
        transition: .8s ease;
    }

    .about::before {
        transform: scaleX(-1);
    }

    .slogan {
        max-width: 500px; /* 500 */
        transition: .8s ease;
    }

    .logo {
        display: block;
    }

    .logo img {
        /* width: 100%; */
        max-width: 400px;
        height: auto;

        border-radius: 20px;

        /* filter:
            drop-shadow(0 0 10px #36066484)
            drop-shadow(0 0 25px #46058361)
            drop-shadow(0 0 50px #550f935a); */
    }
}

@media (min-width: 1200px) {
    .about {
        gap: 200px;
    }

    .slogan {
        padding-right: 150px;
        max-width: 700px;
    }
}